.tour {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.tour img {
  height: 400px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
}
.description {
  margin: 20px;
}
.name {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}
.price {
  display: flex;
  color: red;
  font-weight: bold;
  padding: 5px 0px;
}
.info {
  margin-top: 30px;
  font-family: sans-serif;
}
.tour button {
  cursor: pointer;
  margin: 0px 0px 20px 180px;
  padding: 5px 30px;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
}
.tour button:hover,
.tour button:active {
  color: blueviolet;
  border: 2px solid blueviolet;
}
