@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
}
.underline{
  width: 6rem;
  height: 0.25rem;
  background: blueviolet;
  margin-left: auto;
  margin-right: auto;
}
